:root {
    background-color: #000000
}

body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 20px;
    color: #333;
}
h1 {
    color: #0056b3;
}
p {
    line-height: 1.6;
}